<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center text-light">
                <h1><small>新西兰游学 之 2020春季团</small>纯净新西兰初次体验</h1>
                <p class="big">2020年4月12日～4月17日</p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/NewZealand/IMG_20190913_175717.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 费用说明-->
    <section class="text-center well well-sm text-md-left">
        <div class="container">
            <div class="row flow-offset-1 bg-lighter">
                <div class="col-md-4">
                    <h4 class="text-bold"><a href="#Yingyu88">行程内容</a></h4>
                    <hr class="short bg-primary">
                    <p>
                        接送奥克兰国际机场<br />
                        5晚住宿<br />
                        3次的全外教儿童高尔夫课程<br />
                        绵羊农场半日游<br />
                        怀赫科岛骑马半日游<br />
                        至少4天的包车服务<br />
                        1次自助海边BBQ，1次市区圆桌中餐，以及5次中午简餐和3次晚上简餐<br />
                        早餐仅提供基本食材
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">费用包含</h4>
                    <hr class="short bg-primary">
                    <p>
                        1.海报内容所提及的项目费用和所有门票事宜；<br />
                        2.人身意外伤害险保险费；<br />
                        3.在境外项目中提及的吃、住、行及学习参观费、小费。<br />
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">费用不含</h4>
                    <hr class="short bg-primary">
                    <p>
                        1.办理护照签证的所有费用；<br />
                        2.从各地到奥克兰机场的交通费；<br />
                        3.超重行李托运费（如产生）；<br />
                        4.境外通讯费用；<br />
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 行程简介-->
    <section class="well well-sm text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 ">
                    <h1 class="text-bold">行程简介</h1>
                    <p class="lead">
                        6天5晚 <br />
                        专为有孩子的春假家庭设计的，充分考虑亲子需求、南半球秋日体验。<br /><br />由国际知名球场设计师小罗伯特·琼斯主持设计高尔夫球场，世界冠军高宝璟的主场俱乐部，贵族的私人岛屿骑行等待你孩子的到来。孩子将在这里参加为期3天的全外教高尔夫入门课程，开启她未来的高尔夫世界。
                        <img src="~/images/NewZealand/IntroA.png" alt="" class="">
                        <img src="~/images/NewZealand/IntroB.png" alt="" class="">
                        <img src="~/images/NewZealand/IntroC.png" alt="" class="">
                        <img src="~/images/NewZealand/IntroD.png" alt="" class="">
                        把自己想象成贵族在私人岛屿中骑行<br />
                        除此之外，<br />
                        隐藏于闹市之中，又不失奢华的住宿体验，给每个家庭带来置身于油画中的感受。<br />
                        <img src="~/images/NewZealand/Accomodation-A.png" alt="" class="">
                        <img src="~/images/NewZealand/Accomodation-B.png" alt="" class="">
                        <img src="~/images/NewZealand/Accomodation-C.png" alt="" class="">
                        <img src="~/images/NewZealand/Accomodation-D.png" alt="" class="">

                        <br /><br />以上住宿图片仅供参考，实际入住同级别别墅。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section 日程-->
    <section class="text-center text-md-left well well-sm section-border bg-dark-var2">
        <div class="container">
            <h1 class="text-bold text-white">第1天（周日），奥克兰</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">搭乘国际航班抵达新西兰（*因家庭旅馆可办理入住时间在新西兰本地下午2点以后，建议航班抵达时间安排在中午12点之后），接机后安排入住高尔夫湾的豪华家庭别墅。提供豪华接机及告知入住注意事项。</p>
                    <img src="/images/NewZealand/Day1A.png" alt="" class="offset-2">
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-bold text-white">第2天（周一），高尔夫湾</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">
                        早上自己动手制作新鲜的早餐美食，就着窗外油画一样的美景，美好的一天就此开始。<br />

                        我们会来到您的别墅介绍公共交通方式，民宿周围的乘车路线，娱乐活动等生活内容。进行简短的开团欢迎会，为您介绍马上启程的本地学习、生活概况以及团程安排等。<br />

                        接下来有专车或者由向导步行至高尔夫球场（视住宿和球场的距离和天气情况。如果在步行10分钟以内而且天气良好的状况下，步行既可以享受沿路的美景还可以锻炼身体）开始儿童高尔夫课程。<br />

                        在全英语的高尔夫课程结束后，我们来到奥克兰郊区最著名的黑沙滩。黑沙滩的沙子是火山石形成，所以它是温热的。无论孩子的体质如何，都可以在沙滩上肆意奔跑。整个沙滩上犹如私人承包。<br />
                    </p>
                    <img src="~/images/NewZealand/Day2B.jpg" alt="" class="">
                    <img src="~/images/NewZealand/Day2A.jpg" alt="" class="">
                    <p class="lead text-justify">
                        晚餐时间，我们将在港口的私人传统餐馆，体验当地美食，了解当地人文风俗。就着这窗外千帆的美景，就着当地的佳酿，欣赏美丽的晚霞。
                    </p>
                    <img src="~/images/NewZealand/Day2C.jpg" alt="" class="">
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-bold text-white">第3天，绵羊农场</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">
                        上午小贵族们继续体验当地的全外教高尔夫课程。下午我们一起到奥克兰的著名亲子农场，体验新西兰独有的绵羊文化。<br />
                    </p>
                    <img src="~/images/NewZealand/Day3A.png" alt="" class="">
                    <img src="~/images/NewZealand/Day3B.png" alt="" class="">
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-bold text-white">第4天，奥克兰</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">
                        上午继续为期三天的高尔夫课程。下午在美丽的莎士比亚公园徒步和户外海边BBQ。沙子永远是孩子玩不尽兴的游戏，大人们可以安逸的在一边享受美食。<br />
                    </p>
                    <img src="~/images/NewZealand/Day4A.jpg" alt="" class="">
                    <img src="~/images/NewZealand/Day4B.jpg" alt="" class="">
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-bold text-white">第五天，怀赫科岛骑行</h1>
            （视天气情况和年龄限制，可替换成怀托摩萤火虫洞+鲁阿库利萤火虫洞项目）
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">
                        上午出发去怀赫科岛，一个美丽的私人小岛。让你在私人半岛——蒂玛图库，骑着曾入镜电影《最后的武士》及《霍比特人》的骏马漫步。运气好的话你还可以遭遇彩虹。<br />
                        你可以选不同品种的马匹，所有的马匹都是纯种贵族。
                    </p>
                    <img src="~/images/NewZealand/Day5A.jpg" alt="" class="">
                    <img src="~/images/NewZealand/Day5B.png" alt="" class="">
                    <p class="lead text-justify">
                        下午市区自由活动：让你在奢侈品中买买买。傍晚享受市区的网红餐厅，按时打卡。<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-bold text-white">第六天，奥克兰</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">
                        上午和美丽的别墅告别后，前往附近的Fairway小孩湾享用午餐。下午坐着豪华汽车去奥克兰国际机场，回到温馨的家。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->


</main>



@section Scripts{

}