

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>关于</small>情怀的那点事</h1>
                <p class="big"></p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-4.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 关于imady品牌-->
    <section class="well well-sm bg-lighter relative">
        <div class="container">
            <div class="row section-border">
                <div class="row section-border">
                    <div class="col-xs-12 col-inset-2">
                        <h1 class="text-bold">关于imady品牌</h1>
                        <p>“imady”是家喻户晓、朗朗上口的英文"I Made It！"的谐音缩写，代表了在互联网和科技飞速发展、个性文化在世界范围内得到宣扬的时代中，一种敢于创造、敢于冒险的精神理念和自我价值的肯定。
                            “imady”文字及图形已经由苏州美娱网络科技有限公司注册了中国商标并获批准。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-inset-2 section-border">
                    <h3 class="text-bold">"imady"的含义</h3>
                    <p>"imady"来自于英文口语"I made it !"的谐音，表达了追求、抱负和创新的精神。
                    imady的logo包含了一个英文字母“i”和一个感叹号“！”，两个符号紧密结合，绿色代表了一种自我价值的生命力，红色则是“成功的喜悦”，整体含义更加面向新一代互联网用户开放的性格和渴望分享和认同的价值观，是对于虚拟网络世界“自由无边界”精神的一种拥抱。</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-inset-2">
                    <h3 class="text-bold">使命和愿景</h3>
                    <p>
                        美娱致力于将最前沿的互动科技应用于各种线上教育、培训、娱乐等类型的应用，并力争形成新的商业模式。
                        基于下一代高速网络、高速移动互联网的基础架构，我们看到未来10年的时间内，人工智能、机器智能、人体感知、空间感知、虚拟人机互动等全新的技术将逐渐渗透到我们的生活，将这些科技创造性地融入当前线上娱乐和互动，成为我们对神秘未来的独特认识。
                        美娱期望，通过我们的努力，将今日看来电影虚构的故事变为可控的现实。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--End section-->
    <!--Start section-->
    <section class="text-center bg-dark-var1">
        <div class="container counter-panel">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="5000" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">杯咖啡</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="100" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">个创意</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="7" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">年学习和研究</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div data-from="0" data-to="30000" class="counter"></div>
                    <p class="text-opacity font-secondary text-uppercase">行代码</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 做什么 -->
    <section class="text-center well well-sm text-md-left  bg-dark-var2" id="Phylosophy">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">做有意义的事</h4>
                    <hr class="short bg-primary">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti eaque eum exercitationem fugit in, ipsum, itaque minus exercitationem fugit in, ipsum, itaque minus eaque</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">不甘平凡，勇于探索</h4>
                    <hr class="short bg-primary">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti eaque eum exercitationem fugit in, ipsum, itaque minus exercitationem fugit in, ipsum, itaque minus eaque</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold text-opacity">人性导向</h4>
                    <hr class="short bg-primary">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti eaque eum exercitationem fugit in, ipsum, itaque minus exercitationem fugit in, ipsum, itaque minus eaque</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section List 团队成员 -->
    <section class="text-center text-sm-left well well-sm section-border bg-lighter relative" id="TeamIntro">
        <div class="container">
            <h1 class="text-bold text-md-left">团队成员</h1>
            <p class="lead">我们只是有点不安分，想做点事情的人。</p>

            <hr>
            <div class="row flow-offset-2">
                <div class="col-sm-12 col-md-6">
                    <article class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail"><img src="~/images/FrankShen_Small.JPG" alt="" class="img-rounded"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h6><a href="team-member.html">沈震群</a></h6>
                                    <p class="small text-light-clr text-uppercase">创始人</p>
                                    <p>热爱编程技术，直接参与软件项目架构搭建和编程开发，.Net、Unity3D、HTML5、微信和APP开发程序猿；致力于VR Object Stream下一代互动超视频技术概念。</p>
                                    <ul class="list-inline list-inline-3">
                                        <li><a href="https://www.linkedin.com/in/frank-shen-a527445/" class="fa-linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-12 col-md-6">
                    <article class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail"><img src="/images/DefaultPortrait.jpg" alt="" class="img-rounded"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h6><a href="team-member.html">沈艳</a></h6>
                                    <p class="small text-light-clr text-uppercase">联合创始人</p>
                                    <p>海龟二孩妈，喜欢孩子，为小朋友学习伤透脑筋；自己爱好的是穷游，所有时间都在琢磨旅游经，圈子里的旅游达人。</p>
                                    <ul class="list-inline list-inline-3">
                                        <li><a href="https://www.linkedin.com/in/%E8%89%B3-%E6%B2%88-45559bb5/" class="fa-linkedin"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 发展历程时间线 -->
    <section class="text-center text-md-left offset-1" id="TimeLine">
        <div class="container relative">
            <h1 class="text-bold">发展历程</h1>
            <p class="lead">创新从不止步，昨日的曲折只是明天更坚实的基础。</p>
        </div>
    </section>
    <section class="text-center text-md-left offset-1 timeline" id="TimeLine">
        <div class="container">
            <div class="row">
                <!--2017-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2017" class="h5 meta-timeline">2017</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href="">项目变更为“英语爸爸” - 整合式英语启蒙和学习服务</a></h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2017" class="meta fa-calendar">Jun, 2017</time>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>

                <!--2015-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2015" class="h5 meta-timeline">2015</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href="">“天睿房产”在线撮合成交额超过6亿元人民币。</a></h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Aug, 2015</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href="">“互动卡通”项目获得微软Microsoft BizSpark项目支持。</a></h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Oct, 2015</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--2014-->
                <div class="col-xs-12 text-left text-md-center">
                    <time datetime="2014" class="h5 meta-timeline">2014</time>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-0">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4><a href="">“震泽古镇”虚拟旅游交付，支持web嵌入和Android/iOS系统。</a></h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2014" class="meta fa-calendar">Jan, 2014</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                    <article class="thumbnail well view-animate slow-hover">
                        <div class="caption max-width">
                            <h4>参加Intel Realsense应用技术开发合作。</h4>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2014" class="meta fa-calendar">Oct, 2014</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-xs-12 timeline-hidden">
                    <div class="row">
                        <!--2013-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2013" class="h5 meta-timeline">2013</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="blog_post.html">“VR高压变电站仿真培训系统”交付给南网电科院并获得好评。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Sept, 2013</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2012-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2012" class="h5 meta-timeline">2012</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="">“互动卡通”之“呜咪讲故事”初步完成Android版开发。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2012" class="meta fa-calendar">Jun, 2012</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>“大胃街区”iOS版本在苹果在线商店上线。</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2012" class="meta fa-calendar">Jun, 2012</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2011-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2011" class="h5 meta-timeline">2011</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="">“互动演艺”测试原型在实验室通过200人同屏模拟。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">Dec, 2011</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="">沈震群获得“吴江文化重点人才”称号。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">Oct, 2011</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>丁振加入美娱，担任CTO。</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2011" class="meta fa-calendar">Nov, 2011</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!--2010-->
                        <div class="col-xs-12 text-left text-md-center">
                            <time datetime="2010" class="h5 meta-timeline">2010</time>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-0">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="">建立吴江市第一个动作捕捉研究实验室。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">Dec, 2010</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4>苏州美娱网络科技有限公司注册成立。</h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">May, 2010</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xs-11 col-md-5 col-md-offset-2 inset-1 timeline-right">
                            <article class="thumbnail well view-animate slow-hover">
                                <div class="caption max-width">
                                    <h4><a href="">沈震群获得“吴江科技创新创业领军人才”称号和相应支持。</a></h4>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2010" class="meta fa-calendar">Oct, 2010</time>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-left text-md-center offset-4"><span class="btn btn-primary round-xl timeline-btn"><span>load more</span> <span>hide</span></span></div>
            </div>
        </div>
    </section>
    <!--End section-->
</main>

@section Scripts{
}
