
<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>我们的理念</small>坚持创新，必能成就！</h1>
                <p class="big">不甘平凡，勇于探索，创新创业充满未知与风险， <br> 答案只在前方。</p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-1.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-3.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-4.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    
    <!--Start section 美娱简介-->
    <section class="well well-sm text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <h1 class="text-bold">美娱简介</h1>
                    <p class="lead">苏州美娱络科技有限公司是2010年5月成立于苏州的一家创业型企业，由具有多年500强和娱乐技术产业链上游企业工作经验的海归人员所创立。我们致力于研究和开发下一代互动技术，探寻相关技术与娱乐、教育应用的融合，并推动新型商业模式在中国的产业化与市场化。</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
    <!--Start section 我们所做的-->
    <section class="text-center well well-sm text-md-left">
        <div class="container">
            <div class="row flow-offset-2">
                <div class="col-md-4">
                    <h4 class="text-bold">自主品牌项目</h4>
                    <hr class="short bg-primary">
                    <p>美娱力求将各种类型的智能技术应用于互动教育、互动娱乐等领域，提升用户体验和改善学习效果。经历多次变迁，我们核心项目已从“互动演艺平台”、“互动卡通”项目，演变为当前的“英语爸爸”整合互动教育项目。</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">软件技术服务</h4>
                    <hr class="short bg-primary">
                    <p>我们提供软件产品从创意到实现的全生命周期咨询和服务，协助客户将伟大创意一步步带入现实世界。</p>
                </div>
                <div class="col-md-4">
                    <h4 class="text-bold">技术研究</h4>
                    <hr class="short bg-primary">
                    <p>面向未来，我们的研究涵盖电子商务、人工智能、人体感知、空间感知、虚拟互动等领域，并积极寻找各类技术方案的落地可行性。</p>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section“英语爸爸”项目-->
    <section class="text-center text-sm-left well well-sm section-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 bg-white text-center">
                    <h1 class="text-bold">“英语爸爸”项目</h1>
                    <p class="lead">一个让孩子们快乐学习英语的整合式平台</p>
                </div>
            </div>
            <div class="row offset-1 flow-offset-3">
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-tree"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">VR在线 + 游学</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-home"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">家庭参与</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-server"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">智慧技术辅助</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-paw"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">快乐好玩</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-left-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-male"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">人性化教学</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-sm box-skin-1 bg-lighter box-skin-right-offset-negative">
                        <div class="box__left box-md-inset-1"><span class="icon icon-md icon-primary line-height-1 fa-heart-o"></span></div>
                        <div class="box__body box__middle">
                            <h5><a href="#">语言学习+</a></h5>
                            <p>我们不生产鹦鹉！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->



</main>



@section Scripts{

}