

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>学习与探索</small>穿过幽暗的岁月，回首是一串足迹</h1>
                <p class="big"></p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-5.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section-->
    <section class="text-center text-md-left offset-1">
        <div class="container">
            <div class="row">

                <!--Start section 天睿房产-->
                <div class="col-xs-12 section-border" id="Tianrui">
                    <article class="thumbnail well">
                        <!--Swiper-->
                        <div class="caption">
                            <h4><a href="~/Portfolio/Tianrui">天睿房产</a></h4>
                            <p>苏州美娱为天睿企业开发的一套整合营销管理工具系统，并与微信公众号运营相衔接，支持全民经纪人业务系统在微信端的运营。项目采用多层架构、分布式部署，后端能够支持桌面软件和微信web页面的多端架构。整体软件基本为自有开发代码，具有一定的伸缩弹性，模块结构清晰，易于扩容和维护。上线以来已经实现在线业务撮合超过7亿元。</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Aug 1, 2015</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                </div><a href="~/Portfolio/Tianrui" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Tianrui/Tianrui_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Tianrui/Tianrui_Header1.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Start section slider虚拟震泽古镇-->
                <div class="col-xs-12 section-border" id="Zhenze">
                    <article class="well">
                        <div class="caption">
                            <h4><a href="~/Portfolio/Zhenze">虚拟震泽古镇</a></h4>
                            <p>
                                苏州美娱为震泽古镇开发的三维虚拟游，结合了三维实景建模和720体感全景技术, 将世界各地的旅游者带入这座具有1200年历史的江南古镇。作为震泽古镇申报国家4A景区项目的一部分，实现古镇主要景点的三维仿真呈现和实景全景照片的三维浏览，使得用户可以远程体验古镇的实景和仿真风景。特别是在手机App上创新地实现了体感全景这一有趣的体验模式（仿VR眼镜方式）。
                                项目为跨平台开发，实现PC端、Web端和Android/iPhone手机端的兼容性。
                            </p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                </div><a href="~/Portfolio/Zhenze" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header01.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header02.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Zhenze/Zhenze_Header03.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section slider电科院虚拟高压变电站-->
                <div class="col-xs-12 section-border" id="Dian">
                    <article class="well">
                        <div class="caption">
                            <h4><a href="~/Portfolio/Electric">电科院虚拟高压变电站仿真培训系统</a></h4>
                            <p>新上岗的电站操作人员面临极大的危险，对于从未实际操作过的高压设备，仅靠传统的文字和图片无法获得直观的认知，因而极易发生事故，造成人员伤亡或者设备损伤。苏州美娱采用三维VR虚拟现实技术，协助南方电网电科院完成了《高压电力设备仿真培训系统》，在一个逼真的220kV变电站三维仿真环境中模拟了高压设备老化预防性试验的全过程，有效提升了电力操作人员学习效率，降低了真实环境中事故的概率。</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Feb 20, 2014</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                </div><a href="~/Portfolio/Electric" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/Electric/Dian_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian02_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian03_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian04_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                                <div data-slide-bg="/images/Electric/Dian05_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section slider大胃街区-->
                <div class="col-xs-12 section-border" id="ToHE">
                    <article class="well">
                        <div class="caption">
                            <h4><a href="~/Portfolio/ToHE">大胃街区</a></h4>
                            <p>大胃街区是苏州美娱完全自有知识产权和自主开发的一款轻度社交游戏，融合了社交建设和塔防等两种截然不同的游戏类型。</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">July 1, 2012</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                </div><a href="~/Portfolio/ToHE" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <!--Swiper-->
                        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" data-height="36.32478632478632%" class="swiper-container swiper-slider">
                            <div class="swiper-wrapper">
                                <div data-slide-bg="/images/ToHE/ToHE_Header.jpg" class="swiper-slide">
                                    <div class="swiper-slide-caption"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--End slider-->

                <!--Start section 邻里社交-->
                <div class="col-xs-12 section-border" id="Ququton">
                    <article class="thumbnail well">
                        <div class="caption">
                            <h4><a href="blog_post.html">邻里社交</a></h4>
                            <p>区区通是一个以邻里社交、智慧社区为方向的互联网产品，技术上采用高并发、高弹性的云技术架构，致力于为中国数十万小区提供智能的生活和社交服务。由苏州美娱提供前期技术服务。</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time datetime="2015" class="meta fa-calendar">Oct 10, 2016</time>
                                    <a class="badge fa-user text-uppercase font-secondary">Frank</a>
                                    <span class="tags">
                                    </span>
                                </div><a href="" class="btn-link">Read More</a>
                            </div>
                        </div>
                        <img src="~/images/Ququton/ququton_Header.jpg" alt="区区通邻里社交">
                    </article>
                </div>


            </div>
        </div>
    </section>

    <!--Start section
    <section class="well text-center text-md-left">
        <div class="container">
            <div aria-label="First group" role="group" class="col-inset-2 text-center btn-group"><a href="#" class="btn btn-default round-small active">1</a><a href="#" class="btn btn-default round-small">2</a><a href="#" class="btn btn-default round-small">3</a><span class="text-light-clr font-secondary">...</span><a href="#" class="btn btn-default round-small">8</a></div>
        </div>
    </section>
    <!--End section-->
</main>

@section Scripts{
}
