

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <!--Start section Header标题-->
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small></small></h1>
                <p class="big"></p>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Yingyu88/Yingyu88_Header06.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 介绍 -->
    <section class="text-center text-md-left well well-sm section-border">
        <div class="container">
            <div class="box-md offset-5">
                <div class="box__left"><img src="~/images/Wumi/icon_wumi.jpg" alt="" class="img-box"></div>
                <div class="box__body box__middle">
                    <h1 class="text-bold"> “英语爸爸” </h1>
                </div>
            </div>
            <p><h1><small>一个让孩子们快乐学习英语的整合式平台</small></h1></p>
            <div class="row">
                <div class="col-xs-12 section-border">
                    <p class="lead text-justify">
                        “英语爸爸”是。。。。致力于。。。。。。
                    </p>
                    <article class="well">
                        <img src="/images/Yingyu88/Yingyu88_Header02.jpg" alt="" class="offset-5">
                    </article>
                    <!--产品理念-->
                    <article>
                        <div class="container">
                            <h1 class="text-center offset-2">“英语爸爸”的产品理念</h1>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 text-center"><img src="/images/phone-1.png" alt=""></div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-tree"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">VR在线 + 游学</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-home"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">家庭参与</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-desktop"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">智慧技术辅助</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-paw"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">快乐好玩</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-female"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">人性化教学</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                    <div class="box-sm inset-3">
                                        <div class="box__left"><span class="icon icon-md icon-primary line-height-1 fa-heart"></span></div>
                                        <div class="box__body box__middle">
                                            <h5><a href="#">语言学习 +</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod re et dolore...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->


    <!--Start section 变迁历程-->
    <section class="text-center text-md-left offset-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-border">
                    <article class="well">
                        <h1>“英语爸爸”项目变迁历程</h1>
                        <div class="blog-info">
                            <div class="pull-md-left">
                                <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time>
                                <a class="badge fa-user text-uppercase font-secondary">Admin</a><span class="tags">
                                <a class="badge fa-tags"></a><a class="post-tag round-xl small">General</a>
                                <a class="post-tag round-xl small">Media</a></span>
                                <a class="badge fa-comments text-uppercase font-secondary">13 comments</a>
                            </div>
                        </div>
                        <img src="/images/Yingyu88/Yingyu88_Header07.jpg" alt="" class="offset-5">
                        <p class="lead offset-2 text-justify">
                            美娱最初由“互动演艺平台”的产品构想和对于虚拟现实、体感控制、人机智能等前沿技术的热情，开始了技术探索、试验和产品开发。但是由于产品设计合理性、自身技术实力、产业上下游技术成熟度、硬件普及程度、市场热点变迁等因素影响，项目变更为“互动卡通”，再调整为“英语爸爸”项目。
                        </p><img src="/images/blog-20.jpg" alt="" class="pull-md-left img-inset-1">
                        <p class="lead text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti eaque eum exercitationem fugit in, ipsum, itaque minus molestias nam nobis officia quidem quisquam ratione recusandae reprehenderit veniam vero voluptates! A ad aspernatur autem corporis, culpa deleniti dignissimos id in iure, laudantium magnam maxime<br><br>
                            I optio provident qui quo repellat sequi sunt totam veritatis vitae. Dolores esse nam obcaecati praesentium quod? Accusamus ad aliquam asperiores beatae blanditiis consectetur  officiis quae quos <span class="text-light-clr">(od repudiandae accusantium aliquid amet aut) </span>.<br><br>
                            Accusamus ad aliquam asperiores beatae blanditiis consectetur consequuntur culpa doloremque ea exercitationem, facilis illum laborum magnam maiores necessitatibus nostrum numquam officiis quae quos, rem rerum sunt suscipit tempora vero voluptatem? Adipisci assumenda at aut autem consequuntur culpa cupiditate debitis dolor dolore doloribus error eum ex, excepturi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti eaque eum exercitationem fugit in, ipsum, itaque minus molestias nam nobis officia quidem quisquam ratione recusandae reprehenderit veniam vero voluptates! A ad aspernatur autem corporis, culpa deleniti dignissimos id in iure, laudantium magnam maxime nostrum, praesentium quam soluta tempora voluptates? Alias aliquam architecto consequatur doloribus dolorum est ex excepturi facere in, iusto pariatur provide

                        </p>
                    </article>
                    <article class="well">
                        <!--16:9 aspect ratio-->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://player.youku.com/player.php/sid/XNDEyMzk4NTY4/v.swf" allowfullscreen class="embed-responsive-item"></iframe>
                        </div>
                    </article>

                </div>
                <!--3栏图文-->
                <div class="col-xs-12 text-center text-md-left well">
                    <h5>Related Posts:</h5>
                    <div class="row no-offset">
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="thumbnail thumbnail-4 section-border well">
                                <img src="/images/Yingyu88/Yingyu88_Header06.jpg" alt="">
                                <div class="caption">
                                    <h4><a href="blog_post.html">This is a Standard Post with a Preview Image</a></h4>
                                    <p class="text-dark-variant-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in.</p>
                                    <div class="blog-info">
                                        <div class="pull-md-left">
                                            <time datetime="2015" class="meta fa-calendar">Feb 10, 2014</time><a href="#" class="badge fa-comments font-secondary">13</a>
                                        </div><a href="blog_post.html" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--Start section 即将上线-->
    <section class="well text-center user-info-section bg-dark-var1">
        <div class="container">
            <h1 class="text-uppercase text-white">即将到来</h1>
            <div class="col-md-8 col-md-offset-2 well well-sm">
                <div id="DateCountdown" data-date="2018-09-01 00:00:00" class="text-light"></div>
            </div>
            <form class="form-width-2 offset-1 text-white">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-uppercase font-secondary"></label>
                    <input type="email" placeholder="Name@domainname.com" id="exampleInputEmail1" class="width-2 text-white form-control bg-rgba">
                    <button type="submit" class="btn btn-primary btn-xs round-xl">请第一个通知我</button>
                </div>
            </form>
        </div>
    </section>
    <!--End section-->

</main>

@section Scripts{
}
