

<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content subpage_header">
    <section>
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/Electric/Dian03_Header.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>

    <!--Start section 介绍+视频 -->
    <section class="text-center text-md-left well well-sm section-border">
        <div class="container">
            <h1 class="text-bold">三维电力仿真训练系统 - 高效、安全、低成本的培训新技术</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead text-justify">新上岗的电站操作人员面临极大的危险，对于从未实际操作过的高压设备，仅靠传统的文字和图片无法获得直观的认知，因而极易发生事故，造成人员伤亡或者设备损伤。<br /><br />
                    苏州美娱的三维仿真技术人员协助南方电网广东电科院和南京南瑞近期完成了《高压电力设备仿真培训系统》。本系统分为多个功能模块，除具有常见的电子文档学习系统外，最具特色的是整个高压设备老化预防性试验在一个完整的220kV变电站三维仿真环境中完成，并且模拟了从接收试验任务到完成任务记录的全过程。<br /></p>
                    <article class="well">
                        <!--16:9 aspect ratio-->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="http://player.youku.com/player.php/sid/XODQxMjY3MjI4/v.swf" allowfullscreen class="embed-responsive-item"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->


    <!--Start section 2栏图片-->
    <section class="text-center text-md-left offset-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <article class="thumbnail thumbnail-6 section-border well slow-hover">
                        <div class="image-slow-wrapper"><img src="/images/Electric/electric_01.jpg" alt=""></div>
                        <div class="caption">
                            <h4>220kV变电站仿真场景漫游</h4>
                            <p class="text-dark-variant-2">学员可以随意在变电站场景中漫游，真实感受现场实景。</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="thumbnail thumbnail-6 section-border well slow-hover">
                        <div class="image-slow-wrapper"><img src="/images/Electric/electric_03.jpg" alt=""></div>
                        <div class="caption">
                            <h4>虚拟培训操作界面</h4>
                            <p class="text-dark-variant-2">对于每个操作步骤都有提示，部分操作还设计了标准答案的自动化演示过程。</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="thumbnail thumbnail-6 section-border well slow-hover">
                        <div class="image-slow-wrapper"><img src="/images/Electric/electric_02.jpg" alt=""></div>
                        <div class="caption">
                            <h4>虚拟培训操作界面</h4>
                            <p class="text-dark-variant-2">虚拟高压测试仪器：兆欧表，每个按钮都可以进行互动操作，液晶显示屏则模拟了与实际环境中相当一致的测量结果。</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="thumbnail thumbnail-6 section-border well slow-hover">
                        <div class="image-slow-wrapper"><img src="/images/Electric/electric_04.jpg" alt=""></div>
                        <div class="caption">
                            <h4>虚拟培训操作界面</h4>
                            <p class="text-dark-variant-2">变电站设备预防性试验过程：可以任意切换观看角度。</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--End section-->



</main>

@section Scripts{
}
