<!--
========================================================
                        CONTENT
========================================================
-->
<main class="page-content">
    <section class="text-center user-info-section">
        <!--Swiper-->
        <div data-autoplay="5000" data-slide-effect="fade" data-loop="false" class="swiper-container swiper-slider">
            <div class="jumbotron text-center">
                <h1><small>网站正在改版</small>新版本即将上线</h1>
                <p class="big">敬请期待... ...</p>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div id="DateCountdown" data-date="2017-08-25 00:00:00" class="text-white"></div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div data-slide-bg="/images/header-1.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-3.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
                <div data-slide-bg="/images/header-4.jpg" class="swiper-slide">
                    <div class="swiper-slide-caption"></div>
                </div>
            </div>
        </div>
    </section>






</main>



@section Scripts{

}